body {
    width: 1000px;
    height: 700px;
    background-color: #cc667c;
}

#container {
    position: absolute;
    width: 960px;
    height: 700.68px;
    left: 300px;
    top: 30px;
    background-color: #22DAB3;
    border-radius: 15px; 
    box-shadow: 5px 10px 18px black;
}

#logo {
    position: absolute;
    left: 10px;
    top: 0;
}

#titel{
    position: absolute;
    top: 130px;
    left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 25px;
    color: white;
    text-align: center;
}

#foto {
    position: absolute;
    top: 190px;
    left: 10px;
}

#donkerkant {
    position: absolute;
    width: 476.26px;
    height: 700.68px;
    left: 483.74px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.048) 0.89%, rgba(54, 69, 92, 0.4) 38.97%), #38475E;
    border-radius: 0px 15px 15px 0px;
}

#kiesMenu {
    position: absolute;
    width: 137.14px;
    height: 31.17px;
    left: 300.43px;
    top: 15.71px;
    color: white;
    background: #49586C;
    border-radius: 36.1558px;
    padding: 4px 4px;
}

button{
    position: absolute;
    top: 20.71px;
    left: 310.43px;
    background-color: #49586C;

}

#signup {
    position: absolute;
    width: 68.57px;
    height: 31.17px;
    left: 74px;
    top: 0;
    text-align: center;
    color: white;
    background: linear-gradient(0deg, #54C3B7 0%, #6EDEC8 52%), #6EDEC8;
    border-radius: 0px 36.1558px 36.1558px 0px;
    padding: 4px 4px;
}

#title {
    position: absolute;
    top: 110px;
    left: 64px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 35px;
    color: white;
    border-bottom: solid 2px #6EDEC8;
}

#formulier {
    position: absolute;
    top: 200px;
    left: 64px;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    width: 70%;
}

#terms:hover {
    border-bottom: solid 2px #6EDEC8;
}

input[type=text],
input[type=password],
input[type=email] {
    background-color: #38475E;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #6EDEC8;
    border: none;
    width: 150px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

input [type=checkbox] {
    background-color: #6EDEC8;
}

#member{
    position: absolute;
    top: 320px;
    left: 200px;
    color: #FFFFFF;
    border-bottom:solid 2px #22DAB3;
}